# backend route
VITE_SERVER_ROUTE=your-backend-route

# syncfusion license
VITE_SYNCFUSION_LICENSE_KEY=your-syncfusion-license-key
# chatbot open router
VITE_OPENROUTER_API_URL=your-openrouter-api-url
VITE_OPENROUTER_API_KEY=your-openrouter-api-key